<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
</head>
<body>
  <div id="page">
    <header>
      <h1 id="logo"><a href = "javascript:location.reload()">thanQu</a></h1>
      <h2 id="cname"><%= className %></h2>
    </header>
    <article>
      <section id="question">
        <div id="qheader">
          <p>2017/04/26 15:58</p>
        </div>
        <div id="qwrite">
          <p><%= co[0].q_contents %></p>
        </div>
        <div id="commentlike">
          댓글 <%= co[0].q_commentCnt %> 공감 <%= co[0].q_like %>
        </div>
      </section>
      <section id="comment">
        <% co.forEach(function(co){ %>
        <h5><%= co.co_contents %></h5>
        <% }) %>
      </section>
    </article>
    <form method="get" action ="/questionList/classname=<%= className %>">
    <footer>
      <input type="submit" value="목록" />
    </footer>
  </form>
  </div>
  <script>

  </script>
</body>
</html>
