<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/tr/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<title>thanQu</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <noscript><link rel="stylesheet" href="noscript.css" /></noscript>
  </head>
	<body class="is-loading">
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Wrapper -->
			<div id="wrapper">
        <!-- Main -->
        <section id="background">
          <header>
            <h1><a href = "javascript:location.reload()">thanQu</a></h1>
            <p id="cname"><%= className %></p>
          </header>
 					<section id="main">

            <!-- <footer> -->
            <article id="chichi">
							<!-- <ul class="icons"> -->
              <section id="jinwoo">
                <% if(question == null || question.length == 0){ %>
                 <p class="noData">
                   <h1 colspan="3">There is no data to show :(</h1>
                 </p>
                <% } else { %>
                <% question.forEach(function(question){ %>
									<section id="questions">
                  <div id="qheader">
                    <p><%= question.time %></p>
                  </div>
                  <div id="qwrite" onclick="window.location = '/classDetail/<%= question.id %>'">
                    <p><%= question.content %></p>
                  </div>
                  <div id="commentlike">
                    <p>댓글<%= question.commentCnt %>&nbsp;공감<%= question.likeCnt %></p>
                  </div>
										</section>
                  <% }) %>
                <% } %>
              </section>

							<!-- </ul> -->
						<!-- </footer> -->
          </article>
            <br>
            <form method="post" action ="/end">
              <footer>
              <input type="submit" value="종료" />
              </footer>
            </form>
					</section>
        </section>
          <!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; thanQu</li><li>School: <a href="http://swu.ac.kr">Seoul Women's University</a></li>
					</ul>
				</footer>
      </div>
    <script>
		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}
		Notification.requestPermission();
		var getQList = "http://1.255.54.240/api/questionList/<%= classID %>";
		var likeThreshold = "<%= threshold %>";
		likeThreshold *= 1;
		var notiFinished = [];
		function doAjax(){
			$.ajax({
				type : "GET",
				url : getQList,
				success : function(response) {
					if (!response.success) return;
					for (var i in response.questionInfos) {
						if (response.questionInfos[i].likeCnt >= likeThreshold
							 && notiFinished.indexOf(response.questionInfos[i].id) == -1) {
								new Notification(response.questionInfos[i].content);
								notiFinished.push(response.questionInfos[i].id);
						}
					}
					var chi = document.getElementById("chichi");
					var jin = document.getElementById("jinwoo");
					chi.removeChild(jin);

					var a = '<section id=\"jinwoo\">';
					if (response == null || response.questionInfos.length == 0) {
						a += '<p class=\"noData\"><h1 colspan=\"3\">There is no data to show :(</h1></p>';
					} else {
						for (var idx in response.questionInfos) {
							a += '<section id=\"questions\"><div id=\"qheader\"><p>';
							a += response.questionInfos[response.questionInfos.length - idx - 1].time;
							a += '</p></div><div id=\"qwrite\" onclick=\"window.location = \'/classDetail/';
							a += response.questionInfos[response.questionInfos.length - idx - 1].id;
							a += '\'\"><p>';
							a += response.questionInfos[response.questionInfos.length - idx - 1].content;
							a += '</p></div><div id=\"commentlike\"><p>댓글 ';
							a += response.questionInfos[response.questionInfos.length - idx - 1].commentCnt;
							a += ' 공감 ';
							a += response.questionInfos[response.questionInfos.length - idx - 1].likeCnt;
							a += '</p></div></section>';
						}
						a += '</section>';
					}
					chi.innerHTML+=a;
				}
			});
		}
		window.onload = function() {
			window.setInterval(function() {
				doAjax();
			}, 5000);
		}
		</script>
	</body>
</html>
