<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
</head>
<body>
  <div id="page">
    <header>
      <h1 id="logo"><a href = "javascript:location.reload()">thanQu</a></h1>
      <form action="/questionList/classname=<%= className %>" method="get">
        <input type="submit" value="새로고침">
      </form>
      <h2 id="cname"><%= className %></h2>
    </header>
    <article>
      <section id="question" >
        <% if(question == null || question.length == 0){ %>
           <p class="noData">
             <h1 colspan="3">There is no data to show :(</h1>
           </p>
        <% } else { %>
        <% question.forEach(function(question){ %>
        <div id="qheader" onclick="window.location = '/classDetail/<%= question.q_id %>'">
          <h4>과제 제출이 언제까지인가요?</h4>
          <p><%= question.q_date %></p>
        </div>
        <div id="qwrite">
          <p><%= question.q_contents %></p>
        </div>
        <div id="commentlike">
          <p><%= question.q_like %><%= question.q_commentCnt %></p>
        </div>
          <% }) %>
        <% } %>
      </section>
    </article>
    <form method="post" action ="/end">
    <footer>
      <input type="submit" value="종료" />
    </footer>
  </form>
  </div>
  <script>

  </script>
</body>
</html>
